<a href="https://colab.research.google.com/github/chadni00/CSE_303_Course/blob/main/lab_1__2019_1_60_120_exercise_s.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

problem 1

In [ ]:

# Student ID: 2019-1-60-120
# Student Name: Jahani Shabnam Chadni
# Assignment – Lab 1 

print( "Solution of problem : 1")
print( "Student ID: 2019-1-60-120\n")



a = int(input("Enter a number : "))
b = int(input("Enter a number : "))
c=a*b
def d(a,b):
 
    if (c>1000):
            return (a+b)
    else:
            return (c)
        
print(d(a,b))

Solution of problem : 1
Student ID: 2019-1-60-120

Enter a number : 1000
Enter a number : 1000
2000

problem 2

In [ ]:

print( "Solution of problem : 2")
print( "Student ID: 2019-1-60-120\n")


rad=float(input("Enter a radius value : "))
pi=3.1416
area=pi*rad*rad
perimeter=2*pi*rad

print("Area of circle :%0.2f "% area)
print("Perimeter of circle :%0.2f"% perimeter)

Solution of problem : 2
Student ID: 2019-1-60-120

Enter a radius value : 2.345
Area of circle :17.28
Perimeter of circle :14.73

problem 3

In [ ]:

print( "Solution of problem : 3")
print( "Student ID: 2019-1-60-120\n")



def compound_interest_2019_1_60_120(p,r,t):
    return p*(pow((1+r/100),t))

p = float(input("Enter the principle amount : "))
r = float(input("Enter the interest rate : ")) 
t = int(input("Enter time in years: "))

print("the compound interest =  %0.2f "%compound_interest_2019_1_60_120(p,r,t))

Solution of problem : 3
Student ID: 2019-1-60-120

Enter the principle amount : 100
Enter the interest rate : 20
Enter time in years: 40
the compound interest =  146977.16

problem 4

In [ ]:
print( "Solution of problem : 4")
print( "Student ID: 2019-1-60-120\n")



N = int(input("Enter a number: "))

sum = 0

for i in range(1,N+1):
    s=pow(i, 2)
    sum +=s

print("calculate the value : " ,sum)

Solution of problem : 4
Student ID: 2019-1-60-120

Enter a number: 6
calculate the value :  91

problem 5

In [ ]:
print( "Solution of problem : 5")
print( "Student ID: 2019-1-60-120\n")

def prime_find_2019_1_60_120(N):
    for i in range(2, int(N**0.5)):
        if(N%i==0):
             return 0
             
    else:
      return 1

N = int(input("Enter a number : "))
f =prime_find_2019_1_60_120(N)

if(N==1):
    print("Not Prime")
elif(N==2):
    print("Prime")
else:
    if(f==0):
            print("This is not a prime number")
    else:
            print("This is a prime number")

#if(prime_find_2019_1_60_120(N)==0):
  # print("Prime")
#else:
  # print("Not Prime")

Solution of problem : 5
Student ID: 2019-1-60-120

Enter a number : 34
This is not a prime number

problem 6

In [ ]:
print( "Solution of problem : 6")
print( "Student ID: 2019-1-60-120\n")

n = int(input("Enter a number: ")) 

a = 0
b = 1

if(n==0):
   print(n,"th fibonacci number is 0")
elif(n==1):
  print(n,"th fibonacci number is 1")
elif(n<0): 
    print("Wrong becasue it is negative number")
else: 
 for i in range(2,n+1):
        c = a + b
        a = b
        b = c
 print(n,"th fibonacci number is " ,c)

Solution of problem : 6
Student ID: 2019-1-60-120

Enter a number: 20
20 th fibonacci number is  6765

problem 7

In [ ]:
print( "Solution of problem : 7")
print( "Student ID: 2019-1-60-120\n")



sum = 0
list = [1,2,3,4,5,6,7,8,9,10] 
for i in list:
  sum =sum+i
print("Sum of the list is ", sum)

Solution of problem : 7
Student ID: 2019-1-60-120

Sum of the list is  55

problem 8

In [ ]:
print( "Solution of problem : 8")
print( "Student ID: 2019-1-60-120\n")

sum=0
list= [1,2,3,4,5,6,7,8,9,10]  

a=len(list)
for i in range(a):
   if(i%2==0):
       sum=sum+list[i];
print("Sum of the list is", sum)

Solution of problem : 8
Student ID: 2019-1-60-120

Sum of the list is 25

problem 9

In [ ]:
print( "Solution of problem : 9")
print( "Student ID: 2019-1-60-120\n")



List = [30,20,60,400,70,2,0,100]

def largest_number_2019_1_60_120(element):
    larg=element[0]
    for i in range(len(element)):
          if larg < element[i]:
                  larg=element[i]     
    
    print("largest element is ", larg)

def smallest_number_2019_1_60_120(element):
    small=element[0]
    for i in range(len(element)):
          if small>element[i]:
              small=element[i]
    
    print("Smallest element is ", s)
    
largest_number_2019_1_60_120(List)
smallest_number_2019_1_60_120(List)

Solution of problem : 9
Student ID: 2019-1-60-120

largest element is  400
Smallest element is  36

problem 10

In [ ]:
print( "Solution of problem : 10")
print( "Student ID: 2019-1-60-120\n")




List= [30,20,60,400,70,2,0,100]
l=len(list)
List.sort()
print("Second largest element of the list is:", list[l-2])

Solution of problem : 10
Student ID: 2019-1-60-120

Second largest element of the list is: 9

problem 11

In [ ]:
print( "Solution of problem : 11")
print( "Student ID: 2019-1-60-120\n")



string = input("Enter a string : ")

for i in range(0,len(string)):
    if(i%2==0):
        print(string[i])

Solution of problem : 11
Student ID: 2019-1-60-120

Enter a string : chadni
c
a
n

problem 12

In [ ]:
print( "Solution of problem : 12")
print( "Student ID: 2019-1-60-120\n")

string = input("Enter a string : ")
n = int(input("Enter a number : "))   # n must be less than the length of the string.

element = 0
newstring = ""     

for i in string:
        element += 1
            
      
for i in range(n,element):
    newstring = newstring+string[i]
    
print("The new string is : ",newstring)

Solution of problem : 12
Student ID: 2019-1-60-120

Enter a string : chadni
Enter a number : 4
The new string is :  ni

problem 13

In [ ]:
print( "Solution of problem : 13")
print( "Student ID: 2019-1-60-120\n")





string = input("Enter the String: ")

substring = input("Enter the String: ") # 'CSE303'

sum = 0
sublength=len(substring)
l=len(string)
for i in range(l):
    if string[i:i+sublength] == substring:
        sum = sum+ 1
print ("The count of the substring “CSE303”: ",sum)

Solution of problem : 13
Student ID: 2019-1-60-120

Enter the String: python is mandatory in CSE303 for all CSE303 students
Enter the String: CSE303
The count of the substring “CSE303”:  2

problem 14

In [ ]:
print( "Solution of problem : 14")
print( "Student ID: 2019-1-60-120\n")






string=input("Enter a string: ")

def palindrome_checker_2019_1_60_120(input_string):
    if(input_string==input_string[::-1]):
      print("This string is a palindrome")
    else:
      print("This string is not a palindrome")
     


palindrome_checker_2019_1_60_120(string)

Solution of problem : 14
Student ID: 2019-1-60-120

Enter a string: level
This string is a palindrome

problem 15

In [ ]:
print( "Solution of problem : 15")
print( "Student ID: 2019-1-60-120\n")

list1 = [10,12,30,4,15]
list2 = [60,7,18,39,40]
l1=len(list1)
l2=len(list2)
new_list = []  #create a new list such that new list should contain only odd numbers from the first list and even numbers from the second list.


for i in range(0,l1):
    if(list1[i]%2==1):
        new_list.append(list1[i])
        
for i in range(0,l2):
    if(list2[i]%2==0):
        new_list.append(list2[i])

print("The created  new list is : ",new_list)

Solution of problem : 15
Student ID: 2019-1-60-120

The created  new list is :  [15, 60, 18, 40]